<mat-toolbar class="header">
    <span>
        <a>
            <i class="material-icons">
                home
            </i>
            <span  appTitle>
                Diretiva de atributo 
            </span >
        </a>       
    </span>
</mat-toolbar>
