
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">        
        <mat-nav-list class="nav-list">
            <a routerLink="/products" mat-list-item>
                <i class="material-icons">shopping_cart</i>
                Produtos
            </a>
            <a routerLink="/graphic" mat-list-item>
                <i class="material-icons">
                    stacked_line_chart           
                </i>
                Graficos
            </a>
            <a routerLink="/table" mat-list-item>
                <i class="material-icons">
                    grid_on         
                </i>
                Tabelas
            </a>
            <a routerLink="/forms" mat-list-item>
                <i class="material-icons">
                    edit             
                </i>
                Formulários
            </a>
            <a routerLink="/tabs" mat-list-item>
                <i class="material-icons">
                    source            
                </i>
               Abas
            </a>
            <a routerLink="/inputs" mat-list-item>
                <i class="material-icons">
                    toggle_off           
                </i>
               Inputs
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>
        </router-outlet>
    </mat-sidenav-content>   
</mat-sidenav-container>