<mat-card>
    <mat-card-title> Criando novos produtos</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço">
        </mat-form-field>
    </form>
    <button mat-raised-button color="accent" (click)="createProduct()">
        Salvar
    </button>
</mat-card>

