/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue{
    color: rgb(52, 143, 235);
}

.vertical-midle{
    vertical-align: middle;
}